body {
     background-color: #485461;
     background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.text {
    font-family: Cambria, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    }

.blog-shadow-dreamy {
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.3),
    0 2px 4px rgba(255, 255, 255, 0.3),
    0 4px 8px rgba(255, 255, 255, 0.3),
    0 16px 32px rgba(255, 255, 255, 0.3),
    0 32px 64px rgba(255, 255, 255, 0.3);
}
.header {
  padding: 30px;
  text-align: center;
  background: #28313b;
  color: white;
  font-size: 30px;
}

.border {
background: rgba(81, 79, 92, 1.0);
background: -webkit-linear-gradient(top left, rgba(81, 79, 92, 1.0), rgba(1, 1, 1, 1.0));
background: -moz-linear-gradient(top left, rgba(81, 79, 92, 1.0), rgba(1, 1, 1, 1.0));
background: linear-gradient(to bottom right, rgba(81, 79, 92, 1.0), rgba(1, 1, 1, 1.0));
    border: 3px solid gray;
    border-radius: 150px 150px;
    padding: 25px;
    width: auto;
    height: auto;
    alignment: center;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;

}
.firstletter {
    font-weight: bold;
    font-size: 36px;
}
.container {
            width:800px;
            height:190px;
            alignment: center;
            padding-top:20px;
            padding-left:15px;
            padding-right:15px;
    margin: auto;
        }
