body {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.text {
    font-family: Cambria, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
}

.cardcontainer {
    margin: 0 auto;
    width: 70%;
}
